# **Python Control Statement**
#### 1. If Else
#### 2. Match Case
#### 3. Loops
#### 4. Break
#### 5. Continue
#### 6. Pass

## **if else**

In [ ]:
# if
if True:
  print('True')

True

In [ ]:
# if-else
x = 18
if (x > 20):
  print('True')
else:
  print('condition is false')

condition is false

In [ ]:
# nested if-else-elif (radio button: can execute only one block)
if (x > 20):
  print('if condition is true')
elif (x == 18):
  print('true: it is elif')
else:
  print('False')

true: it is elif

In [ ]:
# checking more than one condition (multi selection [checkbox]: can execute more than one block)
price = 1200
if price == 1200:
  print('first condition is true')
if price >= 1200:
  print('second condition is true')
if price > 1000:
  print('third condition is also true')
else:
  print('each condition is false')

first condition is true
second condition is true
third condition is also true

###**Short Hand**

In [ ]:
# short hand if-else OR ternary operator (conditional expression) using if-else
# true if condition else false
age = 25
True if age >= 18 else False
# is_adult = True if age >= 18 else False
# print("Is the person an adult?", is_adult)

True

In [ ]:
# short hand if-elif-else
# true if condition else (true if condition else false)
grade = 85
result = "A" if grade >= 90 else ("B" if grade >= 80 else "C")
print("Result:", result)

Result: B

## **match case** switch case
The basic usage of match-case is to compare a variable against one or more values.

match **variable_name**:

> case '**pattern 1**' : **statement 1**

> case 'pattern 2' : statement 2

> ...

> case 'pattern n' : statement n

In [ ]:
# match case
def weekday(n):
   match n:
      case 0: return "Monday"
      case 1: return "Tuesday"
      case 2: return "Wednesday"
      case 3: return "Thursday"
      case 4: return "Friday"
      case 5: return "Saturday"
      case 6: return "Sunday"
      case _: return "Invalid day number"
print (weekday(3))
print (weekday(6))
print (weekday(7))

Thursday
Sunday
Invalid day number

In [ ]:
# OR [more than one pattern]
def access(user):
   match user:
      case "admin" | "manager": return "Full access"
      case "Guest": return "Limited access"
      case _: return "No access"
print (access("manager"))
print (access("Guest"))
print (access("Ravi"))

Full access
Limited access
No access

## **for loop**

In [ ]:
# for loop
num = [1, 2, 3, 4, 5]
for i in num:
  print(f'value:{i}  index number:{num.index(i)}')

value:1  index number:0
value:2  index number:1
value:3  index number:2
value:4  index number:3
value:5  index number:4

In [ ]:
# for loop with else
num = [1, 2, 3, 4, 5]
for i in num:
  print(f'value:{i}  index number:{num.index(i)}')
else:
  print('=======================')
  print('loop executed successfully')
  print('after completing the for loop else will be excute')

value:1  index number:0
value:2  index number:1
value:3  index number:2
value:4  index number:3
value:5  index number:4
=======================
loop executed successfully
after completing the for loop else will be excute

## **while loop**

In [ ]:
# while loop
i = 0
while (i <= 10):
  print(i, end=' ')
  i += 1

0 1 2 3 4 5 6 7 8 9 10

In [ ]:
# while loop with else
i = 0
while (i <= 5):
  print(i)
  i += 1
else:
   print('loop is over, now else block is running')

0
1
2
3
4
5
loop is over, now else block is running

## **break** terminates the loop

In [ ]:
i = 10
while (i <= 10):
  print(i)
  if (i == 8):
    break
  i -= 1
else:
   print('loop is break, else will not run')

10
9
8

## **continue**
It skips the remaining statements in the current loop and starts the next iteration.

In [ ]:
i = 0
while (i <= 5):
  i += 1
  if (i == 3):
    print(f'skip the: {i} and continue with rest')
    continue
  print(i)
else:
   print('loop is continue, else is running')

1
2
skip the: 3 and continue with rest
4
5
6
loop is continue, else is running

## **pass**
pass statement is a null operation.

It is used when a statement is required syntactically but we do not want any code to execute.

In [ ]:
if (10 > 2):
  pass

# **Python Control Statement Done**