# **Python Basic**
### **Source Code - Translator - Byte Code - Interpreter - Machine Code**
It's a general purpose, Interpreted, High level and Dynamically type programming language, which also supports OOPs paradigm.

In [ ]:
print("Hello World !")

Hello World !

In [ ]:
# multiline string
print(
'''Multiline
String
Example''')
print("=========")
# using line continuation character (\)
print(
'''Multiline \
String \
Example''')

Multiline
String
Example
=========
Multiline String Example

In [ ]:
# Multiple Statements on a Single Line using semicolon(;)

x = 10; y = 20; add = x + y; add

30

# **Variable**
variables are the reserved memory locations used to store values

 = assignment operators bind the value/object with the lable

 naming pattern is snake case for variables [ex- first_name]

In [ ]:
# id() give us the memory location
cat = 'choco'
id(cat)

137693442663280

In [ ]:
# del keyword use to delete the variable
sweet = 'barfi'
# del sweet
sweet
# NameError: name 'sweet' is not defined

'barfi'

In [ ]:
# multiple value in multiple variable
a = 1
b = 2
c = 3
print(a, b, c)
print()
# we can do this in a single line
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3

1 2 3

In [ ]:
# single value in multiple variable
print('a1, b1, c1 all of them is pointing/refering to the same object (100-int type object)')
a1 = 100
b1 = 100
c1 = 100
print(a1, b1, c1)
print()
print('we can do this in single line')
a1 = b1 = c1 = 100
print(a1, b1, c1)
print()
print('The label/variable name is pointing at same object/memory location: ', id(a1), id(b1), id(c1))
print()
# I change the b1 value, now it's pointing at other location where the value is 200
b1 = 200
print('i change b1 refernce to 200, b1 = ', b1)
print(a1, b1, c1, id(a1), id(b1), id(c1))
print()
print('here a1 and c1 also pointing at 200, now 100 become unrefferd object bcz no one is pointing at 100 at the moment')
a1 = c1 = 200
print(a1, b1, c1, id(a1), id(b1), id(c1))
print()
print('id of 100 is: ', id(100), ', 100 become unrefferd, so the memory space occupied by 100 will be remove when garbage collector will run automatically')

a1, b1, c1 all of them is pointing/refering to the same object (100-int type object)
100 100 100

we can do this in single line
100 100 100

The label/variable name is pointing at same object/memory location:  137694145957200 137694145957200 137694145957200

i change b1 refernce to 200, b1 =  200
100 200 100 137694145957200 137694145960400 137694145957200

here a1 and c1 also pointing at 200, now 100 become unrefferd object bcz no one is pointing at 100 at the moment
200 200 200 137694145960400 137694145960400 137694145960400

id of 100 is:  137694145957200 , 100 become unrefferd, so the memory space occupied by 100 will be remove when garbage collector will run automatically

In [ ]:
# valid python vriable names
# can't use : reserve word, specific symbol other than _ (underscore), numbers at the beginning
_v = 100
v123 = 100
v_ = 100
v_1 = 100
print(_v, v123, v_, v_1)

100 100 100 100

# **Data Types-** Type of a variable
## **Data-**  data is the representation of a fact about a certain object


*   Data of Students
*   Data of books in Library
*   Data of a store

# **Python Data Types**
1. Numeric - int, float, complex
2. String - str
3. Sequence - list, tuple, range
4. Binary - bytes, bytearray, memoryview
5. Mapping - dict
6. Boolean - bool
7. Set - set, frozenset
8. None - NoneType

list( ) -- list constructor

### **Python Numeric Data Type**
### ***1. int***
### ***2. float***
### ***3. complex***

In [ ]:
print('creating numeric variable by directly assigning the value')
i = 20
print(i, type(i))
f = 345.90
print(f, type(f))
# x + yj
c = 1 + 3j
print(c, type(c))
print()
print('creating numeric variable by using constructor')
i1 = int(f)
print(i1, type(i1))
f1 = float(i)
print(f1, type(f1))
c1 = complex(100)
print(c1, type(c1))
c2 = complex(12, 25)
print(c2, type(c2))

creating numeric variable by directly assigning the value
20 <class 'int'>
345.9 <class 'float'>
(1+3j) <class 'complex'>

creating numeric variable by using constructor
345 <class 'int'>
20.0 <class 'float'>
(100+0j) <class 'complex'>
(12+25j) <class 'complex'>

### **Python Boolean Data Type**

In [ ]:
is_raining = True
print(is_raining, type(is_raining))
is_fail = False
print(is_fail, type(is_fail))

True <class 'bool'>
False <class 'bool'>

### **Python Sequence Data Type** iterable
### ***1. str***
### ***2. list***
### ***3. tuple***
### ***3. range***

In [ ]:
# str

txt = 'Hello World!'
print(txt, type(txt))
print(txt[0])
print(txt[0:5])
print(txt[-6:-1])
print('(+) concatenation operator: ', txt+" "+txt)
print('(*) repetition operator: ', 3 * (' '+txt+' '))

Hello World! <class 'str'>
H
Hello
World
(+) concatenation operator:  Hello World! Hello World!
(*) repetition operator:   Hello World!  Hello World!  Hello World!

In [ ]:
# str constructor
idn = 1234
id = str(idn)
print(str(id), type(id))

1234 <class 'str'>

In [ ]:
# list
info = ['Jane', 120, 2500.0, True]
print(info, type(info))
info1 = ['Jane']
print(info1, type(info1))

['Jane', 120, 2500.0, True] <class 'list'>
['Jane'] <class 'list'>

In [ ]:
# list constructor
l = list((1, 2, 3, 4))
print(l, type(l))

[1, 2, 3, 4] <class 'list'>

In [ ]:
# tuple
t = ('Jane', 120, 2500.0, True)
print(t, type(t))
t1 = ('Jane')
# t1 = ('Jane',)
print(t1, type(t1))

('Jane', 120, 2500.0, True) <class 'tuple'>
('Jane',) <class 'tuple'>

In [ ]:
# range
# range(start, stop, step)
print(range(10), type(range(10)))
print(range(1, 11), type(range(1, 11)))
print(range(1, 11, 2), type(range(1, 11, 2)))

range(0, 10) <class 'range'>
range(1, 11) <class 'range'>
range(1, 11, 2) <class 'range'>

### **Python Dictionary (mapping) Data Type**

In [ ]:
# key:value pairs
dict = {1:'alex', 2:'bob', 3:'clara', 4:'daniel', 5:'felix'}
print(dict, type(dict))
print(dict.items())
print(dict.values())
print(dict.keys())

{1: 'alex', 2: 'bob', 3: 'clara', 4: 'daniel', 5: 'felix'} <class 'dict'>
dict_items([(1, 'alex'), (2, 'bob'), (3, 'clara'), (4, 'daniel'), (5, 'felix')])
dict_values(['alex', 'bob', 'clara', 'daniel', 'felix'])
dict_keys([1, 2, 3, 4, 5])

### **Python Set Data Type**
### ***1. set***
A set can store only immutable objects such as number (int, float, complex or bool), string or tuple.

If you try to put a list or a dictionary in the set collection, Python raises a TypeError.

TypeError: unhashable type: 'list'
### ***2. frozenset***
Here you can store mutable object too like list.

In [ ]:
# set
s = {1, 2,'jane', 2, 3, 4, 'jane'}
print(s, type(s))

{1, 2, 3, 4, 'jane'} <class 'set'>

In [ ]:
# set
# s1 = {[2, 4, 5], 1, 2,'jane', 2, 3, 4, 'jane'}
# print(s1, type(s1))

# TypeError: unhashable type: 'list'

In [ ]:
# frozenset
fset = frozenset([1, 2, 3])
print(fset, type(fset))

frozenset({1, 2, 3}) <class 'frozenset'>

### **Python None Type**

In [ ]:
value = None
print(value, type(value))

None <class 'NoneType'>

# **Type Casting**
Also called Type Conversion
Changing one data type in to another data type.

Python object with lesser byte site is upgraded to the bigger byte size of other object.
##**Python supports Two type of casting-**
### **1. Implicit-**
Python interpreter automatically convert one data type to another.
### **2. Explicit-**
By using built-in function/constructor like int(), float() and str()

In [ ]:
# implicit-automatic conversion
# int upgraded to float type
add = 10.0 + 1
print(add, type(add))

11.0 <class 'float'>

In [ ]:
# explicit-manual conversion
# upgrading, degrading both possible
add1 = int(12.0) + 1
print(add1, type(add1))

13 <class 'int'>

# **Unicode Transformation Format (UTF)**
### The default encoding for Python source code is UTF-8.

In [ ]:
string = "Hello"
tobytes = string.encode('utf-8')
print (tobytes)
string = tobytes.decode('utf-8')
print (string)

b'Hello'
Hello

In [ ]:
string = "\u20B9"
print (string)
tobytes = string.encode('utf-8')
print (tobytes)
string = tobytes.decode('utf-8')
print (string)

₹
b'\xe2\x82\xb9'
₹

# **Literals**
value or a fixed value in our program.

In [ ]:
# integer literal 12
lit = 12

# **Constant**
There is no any rule to declaring a constant in Python.

We can indicate a variable to be treated as a constant by using all-caps names with underscores.

ex- PI_VALUE (screaming snake(_) case)

In [ ]:
# indicates that you don't want the variable to be redefined or changed in any way.
PI_VALUE = 3.14

# **Operators in Python**
1. Arithmetic Operators
2. Comparison (Relational) Operators
3. Assignment Operators
4. Logical Operators
5. Bitwise Operators
6. Membership Operators
7. Identity Operators
## **Operators Precedence**
  1. Exponentiation **
  2. Complement ~ | unary plus +@ | unary minus -@
  3. Multiply, divide, modulo and floor division * / % //
  4. Addition and subtraction + -
  5. Right and left bitwise shift >> <<
  6.

# **Comments**
## **1. Single line (#)**
## **2. Multi line**
In Python, there is no provision to write multi-line comments.

A triple quoted multi-line string is also treated as comment if it is not a docstring of a function or class.

# **User Input**
When the interpreter encounters input() function, it waits for the user to enter data from the

standard input stream (keyboard) till the Enter key is pressed.

It store the value as string.

In [ ]:
# input
language = input('Enter your fav. prog. lang: ')

Enter your fav. prog. lang: python

# **Python Basic Done**