# **Python Standard Data Type**

## **string**
string is a immutable data type. we can't modify it's items like list after creation of string.

But we can modify the string it will create a new one.

In [ ]:
txt = 'Hello World'
l_txt = list(txt)
l_txt

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [ ]:
l_txt[5] = 'space'
l_txt

['H', 'e', 'l', 'l', 'o', 'space', 'W', 'o', 'r', 'l', 'd']

In [ ]:
ntxt = ' '.join(l_txt)
ntxt

'H e l l o space W o r l d'

In [ ]:
txt

'Hello World'

In [ ]:
s = 'word'
l = list(s)
l.insert(3, 'l')
print(f'old string: {s}')
ns = ''.join(l)
print(f'new string: {ns}')

old string: word
new string: world

**string methods**

**Category**
1. Case conversion
2. Alignment
3. Split and join
4. Boolean
5. Find and replace
6. Formatting
7. Translate

In [ ]:
# case conversion
text = 'hello world'
text1 = 'Hello World'

# 1. capitalize
text.capitalize()

# 2. lower
text1.lower()

# 3. upper
text1.upper()

# 4. title
text.title()

# 5. casefold
text1.casefold() # convert into lower case

# 6. swapcase
text1.swapcase()

'hELLO wORLD'

In [ ]:
# allignment
text ='Hello World'

# 1. center
text.center(20, '*')

# 2. ljust
text.ljust(30, '#')

# 3. rjust
text.rjust(30, '#')

# 4. expandtabs(tabsize = 8)
etxt = 'Hello\tWorld'
etxt.expandtabs(tabsize=16)

# 5. zfill(width)
text.zfill(30)
len(text)
len(text.zfill(30))

30

In [ ]:
# split and join
text = '     Hello Python world     \ncode'

text.lstrip()
text.rstrip()
text.strip()

text.split()
text.rsplit()
text.splitlines()
text.partition('o')
t = text.rpartition('l')

' '.join(t).strip()
text.removeprefix('     ')
text.removesuffix('code')

'     Hello Python world     \n'

In [ ]:
# boolean string methods
text = 'Hello World'

text.isalnum()
text.isalpha()
text.isdigit()
text.islower()
text.isnumeric()
text.isspace()
text.isupper()
text.isascii()
text.isdecimal()
text.isidentifier()
text.isprintable()

True

In [ ]:
# find and replace method
text = 'Hello World'

text.count('l', 0, 10)
text.find('o', 0, 10)
text.rfind('o')
text.index('H')
text.rindex(' ')
text.replace('H', 'J')
text.startswith('python')
text.endswith('d')

True

In [ ]:
# translate
text.maketrans({'o':'l'})

{111: 'l'}

###**String Done**

## **list**
list is a mutable data type. we can modify list items.

**list methods**

**Category**
1. Add items
2. Remove items
3. iterate
4. comrehension
5. sort
6. copy
7. join list

In [ ]:
num = [1, 2, 3, 4, 5]

# append
num.append(6)
num

# insert
num.insert(2, 7)
num

# remove
num.remove(7)
num

# pop
num.pop()
num

# del keyword
del num

n = [1, 2, 3, 4, 5]

# iterate
# for i, v in enumerate(n):
  # print(f'{i} : {v}')

# comprehension
l = [i for i in n]
l = [i**2 for i in n]

# condition in list comprehension
l = [i for i in n if i%2 == 0]

# membership operator in list comprehension
l1 = [i for i in n if i in [1, 3, 7]]

# nested for loop in list comprehension
l = [(x, y) for x in n for y in [7]]

# sort list1.sort(key, reverse)
l = [12, 4, 16, 8, 10]
l.sort()
l.sort(reverse=True)

l = [1, 2, 3, 4, 5, 6]
def fun(i):
  return i**2
l.sort(key=fun)

# copy make another list at another memory location
n1 = [1, 2, 3]
n2 = n1.copy()
# print(id(n1), id(n2))

# join list

#concatenation
n3 = n1 + n2

# extend
n2.extend(n1)

# append
odd = [1, 3, 5, 7]
n4 = []
[n4.append(x) for x in odd]
n4

# clear
n4.clear()
n4

# count
dup = [1, 1, 1, 2]
dup.count(1)

# index
dup.index(2)

3

###**list done**

##**tuples**
1. concatenation
2. repetition
3. access and iterate
4. modify the tuple using list constructor
5. unpacking
6. join tuples

In [ ]:
t1 = (10, 20, 35)
t2 = (40, 20, 30)

# concatenation
con = t1 + t2

# repetition
t1*2

# membership
20 in t1

# access
t1[1]

# iterate
[i for i in t1]

# modify
t1 = list(t1)
t1.insert(2, 65)
new_t1 = tuple(t1)
new_t1

# unpack
a, b, c, d = new_t1
a, *b = new_t1
b

# len
len(new_t1)

t3 = (1,2)
t4 = (7,8)
# join tuples using sum () that empty box is new tuple
sum((t3, t4), ())

# single item tuple
t = (1,)
type(t)

# index
t.index(1)

# count
con.count(20)

2

### **Tuple Done**

##**set**
Can't pass list or any mutable object

* TypeError: unhashable type: 'list'
* TypeError: unhashable type: 'dict'
* Hashing generates a unique number for an immutable item that enables quick search inside computer's memory.
* Python has built-in hash() function. This function is not supported by list or dictionary.
* Even though mutable objects are not stored in a set, set itself is a mutable object.
* no duplicate value

1. Add set items- add(), update(), union()
2. Remove - remove(), discard(), pop(), difference(), difference_update(),  clear(), intersection(), intersection_update(), symmetric_difference(), symmetric_difference_update()
3. iterate
4. join sets- |, * unpacking operator
5. copy
6. |, &, -, ^,

In [ ]:
# set
s = {1, 2, (1, 2)}

# add
s.add(4)

# update
s.update({12, 11})

# union   # won't update original set
u = s.union({1, 2, 3})

#
u

{(1, 2), 1, 11, 12, 2, 3, 4}

###**Set Done**

##**frozen set**
immutable version of set.
Can't pass list or any mutable object

In [ ]:
# Frozensets
# initialize A and B
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])

# copying a frozenset
C = A.copy() # Output: frozenset({1, 2, 3, 4})
print(C)

# union
print(A.union(B)) # Output: frozenset({1, 2, 3, 4, 5, 6})

# intersection
print(A.intersection(B)) # Output: frozenset({3, 4})

# difference
print(A.difference(B)) # Output: frozenset({1, 2})

# symmetric_difference
print(A.symmetric_difference(B)) # Output: frozenset({1, 2, 5, 6})

frozenset({1, 2, 3, 4})
frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({1, 2})
frozenset({1, 2, 5, 6})

In [ ]:
# Frozensets
# initialize A, B and C
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])
C = frozenset([5, 6])

# isdisjoint() method
print(A.isdisjoint(C))  # Output: True

# issubset() method
print(C.issubset(B))  # Output: True

# issuperset() method
print(B.issuperset(C))  # Output: True

True
True
True

###**FrozenSet Done**

##**Dictionaries**
unordered collection of items, which is basically a key value pair.

In [ ]:
# empty dictionary
my_dict = {}
print(my_dict)

# dictionary with keys as integers
my_dict = {1: 'One', 2: 'Two', 3: 'Three'}
print(my_dict)

# dictionary with mixed keys
my_dict = {'Name': 'John', 'Age': 24, 1: [2, 4, 3]}
print(my_dict)

# using dict()
my_dict = dict({1:'One', 2:'Two'})
print(my_dict)

# from sequence having each item as a pair
my_dict = dict([(1,'John'), (2,'David')])
print(my_dict)


# Python program to access elements from a dictionary
my_dict = {'Name': 'Sean', 'Age': 24, 'Hobby': 'Dancing', 'City': 'NY'}

# using square brackets
print(my_dict['Name'])
print(my_dict['Age'])

# using get() method
print(my_dict.get('Hobby'))

# key not found
print(my_dict.get('Salary'))

# error raised when key not found
# print(my_dict['Occupation'])


# Python program to update/add elements in a dictionary
my_dict = {'Car': 'Audi', 'Bike': 'Honda'}
print('Original Dictionary:', my_dict)

# updating value of an existing key
my_dict['Bike'] = 'Ducati'
print('Updated Dictionary:', my_dict)

# adding new value
my_dict['Plane'] = 'Boeing'
print('Updated Dictionary:', my_dict)


# Python program to remove/delete elements from a dictionary
my_dict = {1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}
print('Original Dictionary:', my_dict)

# removing single element
print(my_dict.pop(4))
print('Updated Dictionary:', my_dict)

# adding new value
print(my_dict.popitem())
print('Updated Dictionary:', my_dict)

# remove all items
my_dict.clear()
print(my_dict)

# delete the dictionary itself
del my_dict
# print(my_dict)


# Dictionary Methods
my_dict = {}
age = my_dict.fromkeys(['John', 'Emily', 'Tina'], 20)
print(age)

print('Keys in the dictionary are:', list(age.keys()))
print('Values in the dictionary are:', list(age.values()))

print('Age value of John:', age.get('John'))


# Dictionary Comprehension
multiple = {x: x*2 for x in range(5)}
print(multiple)


# Membership Test for Dictionary Keys
results = {'Sam': 'Pass', 'Zac': 'Pass', 'Lily': 'Fail', 'Casey': 'Pass'}

print('Lily' in results)   # returns True
print('Rocky' in results)  # returns False

print('Ella' not in results)  # returns True

# membership tests for key only not value, returns False
print('Pass' in results)


# Iterating through a Dictionary
course = {'Sam': 'MBA', 'Zac': 'MS', 'Lily': 'BBA', 'Casey': 'Architecture'}

for i in course:
    print(course[i])
print('')

# printing keys and values
for i,j in course.items():
    print(i, '->', j)

{}
{1: 'One', 2: 'Two', 3: 'Three'}
{'Name': 'John', 'Age': 24, 1: [2, 4, 3]}
{1: 'One', 2: 'Two'}
{1: 'John', 2: 'David'}
Sean
24
Dancing
None
Original Dictionary: {'Car': 'Audi', 'Bike': 'Honda'}
Updated Dictionary: {'Car': 'Audi', 'Bike': 'Ducati'}
Updated Dictionary: {'Car': 'Audi', 'Bike': 'Ducati', 'Plane': 'Boeing'}
Original Dictionary: {1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}
Four
Updated Dictionary: {1: 'One', 2: 'Two', 3: 'Three', 5: 'Five'}
(5, 'Five')
Updated Dictionary: {1: 'One', 2: 'Two', 3: 'Three'}
{}
{'John': 20, 'Emily': 20, 'Tina': 20}
Keys in the dictionary are: ['John', 'Emily', 'Tina']
Values in the dictionary are: [20, 20, 20]
Age value of John: 20
{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}
True
False
True
False
MBA
MS
BBA
Architecture

Sam -> MBA
Zac -> MS
Lily -> BBA
Casey -> Architecture

### **Dictionary Done**

#**Data Types Done**